# Ignore Python venv
venv/
__pycache__/
*.pyc

# Node.js
node_modules/
dist/

# OS
.DS_Store

# Logs
*.log

# IDE/editor configs
.vscode/
.idea/

# Environment files
# uvicorn main:app --reload --port 8000
.env
